body {
    margin: 0px;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans;
	
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, form, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

.home-header-left {
    color: #ffffff;
}

.home-wrap {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('assets/images/landing.jpeg');
    min-height: 100vh;
}

.home-header-link {
    color: #fdff05 !important;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0px 10px;
    text-decoration: none;
    cursor: pointer;
}

.home-header-title {
    font-size: 60px;
    font-weight: bold;
}

.home-header-sub-title {
    font-size: 30px;
    font-weight: bold;
}

.home-content {
    color: #ffffff;
    padding: 50px;
}

.home-content-center {
    min-height: 200px;
    font-size: 46px;
    font-weight: bold;
}

.home-content-bottom-left h2{
    font-size: 46px;
    font-weight: bold;
}

.home-content-bottom-left p {
    font-size: 30px;
    margin-bottom: 10px;
}

.home-content-bottom {
    display: flex;
}

.home-content-bottom-left {
    width: 50%;
}

.home-content-bottom-right {
    width: 50%;
    color: #ff7eba;
    text-align: center;
}

.home-content-bottom-right h3 {
    font-size: 40px;
    font-weight: bold;
}

html {
    margin-top: 0px !important;
}

#wpadminbar {
    display: none;
}

.page-header {
    background-image: url('assets/images/landing.jpeg');;
}

#map {
    width: 100%;
    height: calc(100vh - 180px);
}

.page-content {
    min-height: calc(100vh - 180px);
}

.map-wrap {
    position: relative;
}

.map-search-box {
    position: absolute;
    left: 230px;
    top: 5px;
    background: #ffffff;
    padding: 10px;
    z-index: 1;
}

#map_search_input {
    top: 10px !important;
    padding: 10px !important;
    font-size: 18px;
    border: 0px;
}

.map-popup-img-wrap {
    width: 100%;
    height: 0px;
    padding-top: 60%;
    background-size: cover;
    background-position: center;
}

.map-popup-content-wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.map-popup-wrap {
    background: #ffffff;
    border-radius: 10px;
    min-width: 400px;
}

.map-popup-btn {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
}

.mapboxgl-popup-close-button{
    font-size: 26px;
    display: none;
}

.map-popup-title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 5px;
}

.map-popup-country {
    margin-bottom: 5px;
}

.map-popup-budget {
    color: grey;
    font-size: 18px;
    margin-bottom: 10px;
}

#modal_account .modal-title,
#modal_account .account-form-content {
    display: none;
}

#modal_account[form="login"] #modal_title_login,
#modal_account[form="login"] #account_form_content_login {
    display: block;
}

#modal_account[form="signup"] #modal_title_signup,
#modal_account[form="signup"] #account_form_content_signup {
    display: block;
}

#modal_account[form="forget_password"] #modal_title_forget_password,
#modal_account[form="forget_password"] #account_form_content_forget_password {
    display: block;
}

.parcel-cluster-marker {
    background: #ffffff;
    padding: 20px;
    font-size: 20px;
    border-radius: 50%;
}

.map-popup-btn-make-offer {
    white-space: nowrap;
}

.page-wrap {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.color-red {
    color: #CA211E;
    font-weight: bold;
}

.faq-p {
    margin-bottom: 20px;
}

.page-content-faq .page-wrap {
    max-width: 600px;
}

.mapboxgl-ctrl-top-right {
    right: initial;
    left: 0px;
}

.mapboxgl-ctrl-group:not(:empty) {
    display: none;
}

.map-popup-content-wrap-right {
    margin-left: 30px;
}

@media screen and (max-width: 1620px) {
    .home-header-title {
        font-size: 50px;
    }

    .home-header-sub-title {
        font-size: 26px;
    }
}

@media screen and (max-width: 1400px) { 
    .home-header {
        display: block;
        text-align: center;
    }

    .home-header-left {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .home-content-bottom {
        display: block;
    }

    .home-content-bottom-left {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .home-content-bottom-right {
        width: 100%;
    }

    .home-content-bottom-left h2 {
        font-size: 36px;
    }

    .home-content-bottom-right h3 {
        font-size: 32px;
    }

    .home-content-center {
        text-align: center;
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .home-header-title {
        font-size: 40px;
    }

    .home-header-sub-title {
        font-size: 20px;
    }

    .home-header-link {
        font-size: 16px;
    }

    .home-content-center {
        font-size: 30px;
    }

    .home-content-bottom-left h2 {
        font-size: 30px;
    }

    .home-content-bottom-left p {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .home-content-bottom-right h3 {
        font-size: 20px;
    }

    .home-content-bottom-right h2 {
        font-size: 30px;
    }

    .gm-style-mtc button,
    .gm-style-mtc label {
        font-size: 14px !important;
    }
}